html
    head
      style.
        email__code {
            cursor: pointer;
            color: #666;
            font-size: 30px;
            text-decoration: none;
            display: block;
            padding: 10px;
            background: #EFEFEF;
            width: fit-content;
            transition: all .3s;
        }
    body
        div.email
            div.email__title(style='font-size: 30px') Activation Code
            br
            div.email__code #{activateCode}
